:root {
  --gap-xsm: 0.4rem;
  --gap-sm: 0.8rem;
  --gap-md: 1.6rem;
  --gap-lg: 2.4rem;
  --font-family-regular: 'Gill Sans', sans-serif;
  --font-family-secondary: Georgia, serif;
  --font-size-regular: 1.8rem;
  --line-height-default: 1.5;
  --line-height-regular: 1.5;
  --line-height-heading: 1.3;
  --line-height-heading-small: 1.1;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 900;
  --border-radius: 0.8rem;
  --border-radius-button: 3.5rem;
  --border-radius-button-secondary: 5rem;
  --letter-spacing-default: 0.15px;
  --transition-default: all 0.4s ease;
}
