.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #eee;
  font-size: 1.4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
